.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.online,
.offline {
  font-size: 18px;
  font-weight: 500;
}

.online {
  color: green;
}

.offline {
  color: red;
}
